<div class="col-md-4 mb-4">
  <div class="card" style="height: 100%; width: 20%;">
    <div class="card-image">
      <figure class="image" style="height: 200px; overflow: hidden; margin-left: -100px">
        <% if product.image.present? %>
          <%= image_tag product.image, style: "width:100%; height:100%; object-fit: contain;" %>
        <% end %>
      </figure>
      </div>
    <div class="card-body" style="padding-left: 15px;">
      <h4><%= link_to product.name, product %></h2>
    </div>
  </div>
</div>