<div class="col-md-4 mb-4">
  <div class="card" style="height: 100%;">
    <div class="card-image">
      <figure class="image" style="height: 200px; overflow: hidden;">
      </figure>
      </div>
    <div class="card-body">
      <h4><%= link_to product.name, product %></h2>
    </div>
  </div>
</div>