<p>Showing <%= @products.count %> products.</p>
<div class="container text-center mx-auto" id="home_column">
  <div class="row justify-content-start">
    <% @products.each do |product| %>
      <%= render partial: "product",
                 object: product %>
    <% end %>
  </div>
</div>
<%= paginate @products %>